<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaobaitiao.springbootinit.mapper.BarrageMapper">

    <resultMap id="BaseResultMap" type="com.xiaobaitiao.springbootinit.model.entity.Barrage">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="userAvatar" column="userAvatar" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="isSelected" column="isSelected" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,message,userAvatar,
        userId,isSelected,createTime,
        updateTime,isDelete
    </sql>
</mapper>
